@model IEnumerable<TFMS.Models.Performance>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ReportType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GeneratedOn)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReportType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GeneratedOn)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PerformanceId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PerformanceId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PerformanceId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
